.user_card {
  background-color: #f3f3f3;
  border-radius: 10px;
  padding: 40px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.75);
}

.card_badge {
  background-color: #858585;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.user_profile_photo img {
  height: 100px;
  border-radius: 50%;
}

.user_title h2 {
  font-size: 24px;
  font-weight: bold;
  color: #121212;
  margin-bottom: -8px;
}

.sub_title p {
  color: #777;
  font-size: 14px;
  font-weight: bold;
}

.user_bio p {
  font-size: 14px;
}

.user_status {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.user_status strong {
  display: block;
  font-size: 15px;
  color: #222;
  font-weight: 800;
}
.user_status span {
  color: #121212;
  font-size: 22px;
  font-weight: bold;
}

.follow_btn,
.hireMe_btn {
  padding: 10px 20px;
  border: none;
}

.follow_btn {
  border: 1px solid #121212;
  border-radius: 5px;
  padding: 10px 40px;
  color: #121212;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.hireMe_btn {
  background-color: #121212;
  border-radius: 5px;
  padding: 10px 40px;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
